body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  height: 100%;
}



.example {
  height: 100%;
  width: 100%;
}




.got-lineage { 
  width: 300px;
  height: 500px;
  background: rgba(0,0,0,0.04);
  border: 1px solid gainsboro;
  border-radius: 5px;
}

main {
  padding: 16px 16px;
  width: 700px;
  margin: 0 auto;
}

.row {
  font-size: 14px;
  cursor: default;
  user-select: none;
  align-items: center;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.row i {
  margin-right: 6px;
  display: flex;
  align-items: center;;
}

.row button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0;
  width: 14px;
}

.row .spacer {
  width: 14px;
}

.row-contents {
  font-size: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 12px;
  display: flex;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
}

.row-contents input {
  display: block;
  width: 100%;
  flex: 1;
  border: none;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.2);
  margin: 0;
  margin: -4px;
  padding-left: 4px;
  margin-right: 1px;
  height: 100%;
  outline: none;

}

.isSelected .row-contents{
  background: cornflowerblue;
  color: white;
}

.isSelectedStart .row-contents {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.isSelectedEnd .row-contents {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.row first-of-type {
  background: green;
}

.isOverFolder .row-contents {
  background: hsla(0 0% 0% / 0.05);
  
}

.preview {
  animation: fade-in 500ms;
  opacity: 0.5;
}

.selected-count {
  font-size: 11px;
  font-weight: bold;
  background: cornflowerblue;
  color: white;
  border-radius: 3px;
  display: inline-flex;
  padding: 4px;
  left: 0;
  top: 0;
  position: absolute;
  
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.04);
}

.buttons button {
  display: block;
  margin-bottom: 12px;
}

