* {
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  height: 100%;
}

.example {
  display: flex;
  height: 100%;
  width: 100%;
}

aside { 
  width: 300px;
  height: 100%; 
  background: rgba(0,0,0,0.04);
  border-right: 1px solid gainsboro;
}

main {
  padding: 50px 100px;
}

.row {
  font-size: 14px;
  cursor: default;
  user-select: none;
  align-items: center;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.row i {
  margin-right: 6px;
  display: flex;
  align-items: center;;
}

.row button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0;
  width: 14px;
}

.row .spacer {
  width: 14px;
}

.row-contents {
  font-size: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 12px;
  display: flex;
  width: 100%;
  border: 2px solid transparent;
}

.row-contents input {
  display: block;
  width: 100%;
  flex: 1;
  border: none;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.2);
  margin: 0;
  margin: -4px;
  padding-left: 4px;
  margin-right: 1px;
  height: 100%;
  outline: none;

}

.isSelected .row-contents{
  background: cornflowerblue;
  color: white;
}

.isFirstOfSelected .row-contents {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.isLastOfSelected .row-contents {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.row first-of-type {
  background: green;
}

.drop-placeholder {
  display: flex;
  align-items: center;
}

.placeholder-line {
  flex: 1;
  height: 2px;
  background: #4B91E2;
}

.placeholder-circle {
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 3px #4B91E2;
  border-radius: 50%;
}

.isHoveringOverChild .row-contents  {
  /* border: 2px solid #4B91E2; */
  /* border-radius: 3px; */
}

.isOverFolder .row-contents{
  background: hsla(0 0% 0% / 0.05);
  border-radius: 3px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.preview {
  animation: fade-in 500ms;
  opacity: 0.5;
}

.selected-count {
  font-size: 11px;
  font-weight: bold;
  background: cornflowerblue;
  color: white;
  border-radius: 3px;
  display: inline-flex;
  padding: 4px;
  left: 0;
  top: 0;
  position: absolute;
  
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.04);
}

.buttons button {
  display: block;
  margin-bottom: 12px;
}

