/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}

pre {
  font-size: var(--size-step--1);
  padding: var(--space-s);
  border-radius: var(--radius-m);
  overflow-x: auto;
  margin: 0;
}
