{
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
